// Place all the styles related to the Attendances controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// .btn-attendance {
//     width: 150px;
// }

.box1 {
 padding: 0px;
 background-color: #fff; /* 背景色 */
 border: 2px solid red; /* 枠線 */
 color: red;
 display: inline-block;
}

#year {
 width:100px;
 height:25px;
 display:block;
}

#month {
 width:100px;
 height:25px;
 display:block;
}

#button01 {
 width:100px;
 height:25px;
}

