/* ユーザー情報テーブル */


.user-table {
  vertical-align: middle;
  text-align: center;
}


.btn-users-show {
  margin-top: -10px;
  margin-bottom: 10px;
}

  
#table-attendances {
  th {
    vertical-align: middle;
    text-align: center;
  }
  td {
    vertical-align: middle;
    text-align: center;
  }
}

.label-signup {
  margin-top: 5px;
}

.btn-signup {
  margin-top: 10px;
}

.label-user--edit {
  margin-top: 5px;
}

.btn-user--edit {
  margin-top: 10px;
}

#table-users {
  td {
    vertical-align: middle;
  }  
}


.col-md-3 {
  padding-right: 0px;
  padding-left: 0px;
}

.col-md-2 {
  padding-right: 0px;
  padding-left: 0px;
}

.Approval {
  margin-top: 10px;
}

.apprication-info  {
  color: #000;
  text-decoration: none !important;
}

.infomation {
  padding-left: 0px;
}

.modal-content {
  height: auto;
  width: 115%;
}

.overtime-title {
  font-size: 1.5em;
  text-align: center;
}